body
  margin: 0
  font-family: Roboto, sans-serif
  color: white
  background: #00baff
  overflow: hidden

canvas, #instructions
  position: absolute

#instructions
  z-index: 1
  top: 50%
  left: 0
  right: 0
  line-height: 1em
  margin-top: -0.5em
  font-size: 30px
  text-align: center
  pointer-events: none
  -webkit-touch-callout: none
  user-select: none
  transition: opacity .2s ease-in-out

  &.hidden
    opacity: 0
